<app-alert></app-alert>
<nav class="navbar main">
  <h1><a [routerLink]="'/'">TasksToDo</a></h1>
  <div id="menuButton-wrap" *ngIf="auth.isAuthenticated()&&mobileMenu">
    <button (click)="menuCollapsed = !menuCollapsed"><i class="fas fa-bars"></i></button>
  </div>
  <ul *ngIf="auth.isAuthenticated()&&!menuCollapsed">
    <li>
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="menuCollapsed = !menuCollapsed">Home</a>
    </li>
    <li>
      <a [routerLink]="'/tasks'" routerLinkActive="active" (click)="menuCollapsed = !menuCollapsed">Tasks</a>
    </li>
    <li>
      <a [routerLink]="'/profile'" routerLinkActive="active" (click)="menuCollapsed = !menuCollapsed">Profile</a>
    </li>
    <li >
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
  </ul>
</nav>
<div>
  <router-outlet></router-outlet>
</div>

