main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  color: white;
  max-width: 80vw;
  margin-top: 1rem;
}
span {
  color: var(--danger-color);
  font-family: 'Suez One', serif;
  font-size: 1.2rem;
}

h1 {
  font-weight: normal;
  letter-spacing: 0.02rem;
  font-size: 1rem;
  line-height: 1.3rem;
}

button {
  margin-top: 1rem;
}
.summary {
  font-size: 1rem;
  letter-spacing: 0.04rem;
  line-height: 1.5rem;
  width: 15rem;
}
#p-login {
  margin-top: 2rem;
  color: var(--addition-color);
  animation: paragraph;
  animation-duration: 5s;
  text-align: center;
  animation-timing-function: ease-in;
  font-size: 1rem;
}

img {
  width: 80vw;
  max-width: 35rem;
  margin: 1rem;
  box-sizing: border-box;
}

ul {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
li {
  padding: 1rem;
  button {
    letter-spacing: 0.06rem;
    font-size: .9rem;
    color: white;
    background-color: transparent;
  }
}
@media screen and (min-width: 710px) {
  main {
    width: 100%;
    justify-content: center;
  }
  section {
    width: 40vw;
  }
  img {
    width: 40vw;
  }
  ul {
    margin-bottom: 1rem;
  }
  li {
    padding: 0 1rem;
  }
  #left-side {
    margin-top: 5rem;
    margin-right: 2rem;
    max-width: 35rem;
    button {
      margin-top: 2rem;
    }
  }
  .summary {
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 1.8rem;
    width: 25rem;
    span {
      font-size: 1.4rem;
    }
  }
}

@keyframes paragraph {
  from {opacity: 0;}
  to {opacity: 1}
}

